In [19]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [28]:
df = pd.read_csv('eval_speed_101 sharps.csv')
df.head()
df.shape

(339254, 54)

In [29]:
df.groupby('speed').count()

,action,action_result,angle_-1,angle_-10,angle_-11,angle_-12,angle_-13,angle_-14,angle_-15,angle_-16,...,distance_to_goal,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,time
speed,,,,,,,,,,,,,,,,,,,,,
1,122414,122414,122414,122414,122414,122414,122414,122414,122414,122414,...,122414,122414,122414,81993,122414,122414,122414,122414,122414,122414
2,70338,70338,70338,70338,70338,70338,70338,70338,70338,70338,...,70338,70338,70338,44908,70338,70338,70338,70338,70338,70338
3,55726,55726,55726,55726,55726,55726,55726,55726,55726,55726,...,55726,55726,55726,27369,55726,55726,55726,55726,55726,55726
4,45577,45577,45577,45577,45577,45577,45577,45577,45577,45577,...,45577,45577,45577,21671,45577,45577,45577,45577,45577,45577
5,45199,45199,45199,45199,45199,45199,45199,45199,45199,45199,...,45199,45199,45199,21321,45199,45199,45199,45199,45199,45199

In [30]:
df.groupby(['speed','action_result'])['action'].count()

speed  action_result
1      FORWARD          98768
       GOAL               245
       HIT_TREE            28
       MOVE             23373
2      FORWARD          52017
       GOAL               236
       HIT_TREE            47
       MOVE             18037
       ON_EDGE              1
3      FORWARD          39786
       GOAL               262
       HIT_TREE            20
       MOVE             15653
       ON_EDGE              5
4      FORWARD          32006
       GOAL               234
       HIT_TREE            52
       MOVE             13234
       ON_EDGE             51
5      FORWARD          31354
       GOAL               251
       HIT_TREE            35
       MOVE             13507
       ON_EDGE             52
Name: action, dtype: int64

In [31]:
ANGLE = 20
angles_cols = ['angle_'+str(i) for i in range(-ANGLE,ANGLE+1)]

In [32]:
df['obstacle_detected']=df[angles_cols].apply(lambda x:any(x<25),axis=1)

In [33]:
df.groupby(['speed','obstacle_detected'])['action'].count()

speed  obstacle_detected
1      False                118065
       True                   4349
2      False                 67147
       True                   3191
3      False                 54262
       True                   1464
4      False                 44224
       True                   1353
5      False                 44065
       True                   1134
Name: action, dtype: int64

In [34]:
tmp_df = df[df['obstacle_detected']==True]

In [35]:
dat = []
for s in range(1,6):
    tmp = tmp_df[tmp_df['speed'] == s]
    
    L = []
    for i in range(tmp.shape[0]):
        action = tmp.iloc[i].action
        distance = tmp.iloc[i]['angle_'+str(action)]
        other_distance = []
        for i in range(-ANGLE,ANGLE + 1):
            if i != action:
                other_distance.append(tmp.iloc[i]['angle_'+str(i)])
    #     assert(len(other_distance) == 40)

        L.append([distance,other_distance])
    dat.append(L)

In [36]:
for L in dat:
    N = len(L)
    A = sum([i[0] for i in L])
    B = sum([sum(i[1])/40 for i in L])
    
    print(A/N)
    print(B/N)
    print("###########################")
    print()

22.09013566337089
23.764836744079496
###########################

21.489815104982764
18.19366186148499
###########################

22.28756830601093
21.969193989071524
###########################

20.254249815225425
19.357889874353372
###########################

21.02469135802469
20.4114858906525
###########################

In [17]:
L = []
for i in range(tmp_df.shape[0]):
    action = tmp_df.iloc[i].action
    distance = tmp_df.iloc[i]['angle_'+str(action)]
    other_distance = []
    for i in range(-ANGLE,ANGLE + 1):
        if i != action:
            other_distance.append(tmp_df.iloc[i]['angle_'+str(i)])
#     assert(len(other_distance) == 40)
    
    L.append([distance,other_distance])

In [18]:
N = len(L)
A = sum([i[0] for i in L])
B = sum([sum(i[1])/40 for i in L])

print(A/N)
print(B/N)

19.816363308704272
21.14069201658066

In [39]:
df = pd.read_csv("../eval_speed_101 sharps_{}.csv".format(5))
df.groupby('action_result')['action_result'].count()

action_result
FORWARD     10280
GOAL           76
HIT_TREE       24
MOVE          697
ON_EDGE         2
Name: action_result, dtype: int64

In [40]:
dfs = []
for i in range(1,6):
    dfs.append(pd.read_csv("../eval_speed_101 sharps_{}.csv".format(i)))
print(len(dfs))

5

In [41]:
for i in range(1,6):
    print(i)
    print(dfs[i-1].groupby('action_result')['action_result'].count())
    print("#################################")

1
action_result
FORWARD     10419
GOAL           87
HIT_TREE       12
MOVE         1250
ON_EDGE        12
Name: action_result, dtype: int64
#################################
2
action_result
FORWARD     9271
GOAL          68
HIT_TREE      31
MOVE        2239
Name: action_result, dtype: int64
#################################
3
action_result
FORWARD     9194
GOAL          96
HIT_TREE       4
MOVE         341
Name: action_result, dtype: int64
#################################
4
action_result
FORWARD     10332
GOAL           93
HIT_TREE        7
MOVE          671
Name: action_result, dtype: int64
#################################
5
action_result
FORWARD     10280
GOAL           76
HIT_TREE       24
MOVE          697
ON_EDGE         2
Name: action_result, dtype: int64
#################################

In [44]:
df = pd.read_csv("../eval_speed_101 sharps.csv")

In [45]:
import numpy as np
np.unique(df.speed)

array([1, 2, 3, 4, 5])

In [50]:
df.groupby(['speed','action_result'])['action'].count()

speed  action_result
1      FORWARD          2852
       GOAL                9
       HIT_TREE            1
       MOVE              247
2      FORWARD          1266
       GOAL                8
       HIT_TREE            2
       MOVE               72
3      FORWARD           831
       GOAL                9
       HIT_TREE            1
       MOVE               10
4      FORWARD           857
       GOAL               10
       MOVE               77
       ON_EDGE             1
5      FORWARD           656
       GOAL                8
       HIT_TREE            2
       MOVE               95
Name: action, dtype: int64