In [9]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
df = pd.read_csv('eval_speed_118 Dunse.csv')
df.head()
df.shape

(78008, 54)

In [11]:
df.groupby('speed').count()

,action,action_result,angle_-1,angle_-10,angle_-11,angle_-12,angle_-13,angle_-14,angle_-15,angle_-16,...,distance_to_goal,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,time
speed,,,,,,,,,,,,,,,,,,,,,
1,29329,29329,29329,29329,29329,29329,29329,29329,29329,29329,...,29329,29329,29329,18854,29329,29329,29329,29329,29329,29329
2,15601,15601,15601,15601,15601,15601,15601,15601,15601,15601,...,15601,15601,15601,9617,15601,15601,15601,15601,15601,15601
3,9670,9670,9670,9670,9670,9670,9670,9670,9670,9670,...,9670,9670,9670,6686,9670,9670,9670,9670,9670,9670
4,13078,13078,13078,13078,13078,13078,13078,13078,13078,13078,...,13078,13078,13078,5588,13078,13078,13078,13078,13078,13078
5,10330,10330,10330,10330,10330,10330,10330,10330,10330,10330,...,10330,10330,10330,5849,10330,10330,10330,10330,10330,10330

In [13]:
df.groupby(['speed','action_result'])['action'].count()

speed  action_result
1      FORWARD          23054
       GOAL                43
       HIT_TREE            50
       MOVE              6182
2      FORWARD          11412
       GOAL                32
       HIT_TREE            64
       MOVE              4092
       ON_EDGE              1
3      FORWARD           7907
       GOAL                54
       HIT_TREE            44
       MOVE              1665
4      FORWARD           8979
       GOAL                48
       HIT_TREE            47
       MOVE              3997
       ON_EDGE              7
5      FORWARD           7272
       GOAL                56
       HIT_TREE            41
       MOVE              2953
       ON_EDGE              8
Name: action, dtype: int64

In [5]:
ANGLE = 5
angles_cols = ['angle_'+str(i) for i in range(-ANGLE,ANGLE+1)]

In [6]:
OBSERVABLE_DIST = 20

for i in range(5,21,5):
    df['obstacle_detected_'+str(i)]=df[angles_cols].apply(lambda x:any(x<i),axis=1)
    print(i)
# df['obstacle_detected']=df[angles_cols].apply(lambda x:any(x<OBSERVABLE_DIST),axis=1)

5
10
15
20

In [14]:
df.head()

,action,action_result,angle_-1,angle_-10,angle_-11,angle_-12,angle_-13,angle_-14,angle_-15,angle_-16,...,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,speed,time
0,-4,MOVE,25,25,25,25,25,25,25,25,...,1,0.96,0.163401,-0.075887,-0.3,0.0,0.0,0.0,1,1
1,-4,FORWARD,25,25,25,25,25,25,25,25,...,1,0.96,0.153961,-0.098992,0.2,0.0,0.0,0.0,1,2
2,-4,FORWARD,25,25,25,25,25,25,25,25,...,1,0.96,0.139592,-0.121597,0.2,0.0,0.0,0.0,1,3
3,-4,FORWARD,25,25,25,25,25,25,25,25,...,1,0.96,0.101752,-0.144288,0.2,0.0,0.0,0.0,1,4
4,-4,FORWARD,25,25,25,25,25,25,25,25,...,1,0.96,0.111490,-0.167062,0.2,0.0,0.0,0.0,1,5

In [15]:
df.columns

Index(['action', 'action_result', 'angle_-1', 'angle_-10', 'angle_-11',
       'angle_-12', 'angle_-13', 'angle_-14', 'angle_-15', 'angle_-16',
       'angle_-17', 'angle_-18', 'angle_-19', 'angle_-2', 'angle_-20',
       'angle_-3', 'angle_-4', 'angle_-5', 'angle_-6', 'angle_-7', 'angle_-8',
       'angle_-9', 'angle_0', 'angle_1', 'angle_10', 'angle_11', 'angle_12',
       'angle_13', 'angle_14', 'angle_15', 'angle_16', 'angle_17', 'angle_18',
       'angle_19', 'angle_2', 'angle_20', 'angle_3', 'angle_4', 'angle_5',
       'angle_6', 'angle_7', 'angle_8', 'angle_9', 'distance_to_goal',
       'experiment', 'gamma', 'loss', 'orientation', 'reward', 'signal1',
       'signal2', 'signal3', 'speed', 'time'],
      dtype='object')

In [16]:
import numpy as np
np.unique(df.experiment)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500])

In [21]:
df[df.action_result=='HIT_TREE'].groupby('speed')['time'].mean()

speed
1    110.120000
2     73.625000
3     32.227273
4     30.851064
5     27.609756
Name: time, dtype: float64

In [49]:
tmp_df = df[df['obstacle_detected_20']==True]

In [50]:
tmp_df.groupby('speed').count()

,action,action_result,angle_-1,angle_-10,angle_-11,angle_-12,angle_-13,angle_-14,angle_-15,angle_-16,...,reward,signal1,signal2,signal3,time,obstacle_detected,obstacle_detected_5,obstacle_detected_10,obstacle_detected_15,obstacle_detected_20
speed,,,,,,,,,,,,,,,,,,,,,
1,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319,...,1319,1319,1319,1319,1319,1319,1319,1319,1319,1319
2,908,908,908,908,908,908,908,908,908,908,...,908,908,908,908,908,908,908,908,908,908
3,463,463,463,463,463,463,463,463,463,463,...,463,463,463,463,463,463,463,463,463,463
4,413,413,413,413,413,413,413,413,413,413,...,413,413,413,413,413,413,413,413,413,413
5,384,384,384,384,384,384,384,384,384,384,...,384,384,384,384,384,384,384,384,384,384

In [51]:
dat = []
for s in range(1,6):
    tmp = tmp_df[tmp_df['speed'] == s]
    
    L = []
    for i in range(tmp.shape[0]):
        action = tmp.iloc[i].action
        distance = tmp.iloc[i]['angle_'+str(action)]
        other_distance = []
        for i in range(-ANGLE,ANGLE + 1):
            if i != action:
                other_distance.append(tmp.iloc[i]['angle_'+str(i)])
    #     assert(len(other_distance) == 40)

        L.append([distance,other_distance])
    dat.append(L)

In [52]:
for L in dat:
    N = len(L)
    A = sum([i[0] for i in L])
    B = sum([sum(i[1])/40 for i in L])
    
    print(A/N)
    print(B/N)
    print("###########################")
    print()

14.657316148597422
5.097858225928839
###########################

14.504405286343612
2.461563876651975
###########################

15.442764578833692
3.0997840172786173
###########################

14.675544794188863
2.902905569007261
###########################

15.018229166666666
2.8179687500000146
###########################