In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('forest.csv')
df.head()

   Unnamed: 0         X          Y
0           1 -9.590820   0.958267
1           2 -6.160515   9.910768
2           3  5.429064  18.831634
3           4 -2.333750   8.306021
4           5 -7.466254 -11.055228

In [3]:
df.shape

(364963, 3)

In [4]:
df.describe()

          Unnamed: 0              X              Y
count  364963.000000  364963.000000  364963.000000
mean   182482.000000      -2.736477       3.981755
std    105355.887485       8.407043       8.246511
min         1.000000     -39.995182     -39.949822
25%     91241.500000      -9.073668       0.959523
50%    182482.000000      -2.375361       4.694849
75%    273722.500000       2.287750       8.135577
max    364963.000000      39.999996      39.999958

In [ ]:
plot(df.x,df.y)

In [5]:
import scipy.spatial as ss
import numpy as np
npoints = 6
ndimensions = 3
points = np.random.rand(npoints, ndimensions)
hull = ss.ConvexHull(points)
print('volume inside points is: ',hull.volume)

volume inside points is:  0.058878808629642995

In [6]:
hull

In [7]:
points

array([[0.58787517, 0.72422408, 0.64162602],
       [0.52370338, 0.25338441, 0.2458931 ],
       [0.86374822, 0.37429795, 0.83265741],
       [0.9447053 , 0.69547093, 0.4000527 ],
       [0.70161558, 0.85384256, 0.18790376],
       [0.8197649 , 0.06315549, 0.25007943]])

In [ ]:
import cv2
import numpy as np

img = cv2.imread('./opencv-logo.png',0)
img = cv2.medianBlur(img,5)
cimg = cv2.cvtColor(img,cv2.COLOR_GRAY2BGR)

circles = cv2.HoughCircles(img,cv2.HOUGH_GRADIENT,1,20,
                            param1=50,param2=30,minRadius=0,maxRadius=0)

circles = np.uint16(np.around(circles))
for i in circles[0,:]:
    # draw the outer circle
    cv2.circle(cimg,(i[0],i[1]),i[2],(0,255,0),2)
    # draw the center of the circle
    cv2.circle(cimg,(i[0],i[1]),2,(0,0,255),3)

cv2.imshow('detected circles',cimg)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [10]:
!which python

/Users/ethanchen/anaconda3/bin/python

In [7]:
img = cv2.imread('./opencv-logo.png',0)

In [8]:
img

array([[255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       ...,
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255]], dtype=uint8)