In [56]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from laspy.file import File
import pptk
from sklearn import preprocessing
import pye57
%matplotlib inline

# 1. Data loading into a dataframe

### 1.1 Put File location

In [61]:
file_location_las = 'C:\\Users\\Kazi Abir Adnan\\The University of Melbourne\\Trent Penman - Sites\\las_format\\SP14_Garvey.las'

In [62]:
file_location_e57 = 'C:\\Users\\Kazi Abir Adnan\\The University of Melbourne\\Trent Penman - Sites\\SP14 Garvey.e57'

### 1.2 Creating Dataframe

In [70]:
e57 = pye57.E57(file_location_e57)
data_raw = e57.read_scan_raw(0)
df_e57 = pd.DataFrame(columns = ["X", "Y", "Z", "Red", "Green", "Blue"])
df_e57['X'] = data_raw['cartesianX']
df_e57['Y'] = data_raw['cartesianY']
df_e57['Z'] = data_raw['cartesianZ']
df_e57['Green'] = data_raw['colorGreen']
df_e57['Red'] = data_raw['colorRed']
df_e57['Blue'] = data_raw['colorBlue']
print("Length of dataset:", df_e57.shape[0])

Length of dataset: 8195983

In [71]:
inFile = File(file_location_las, mode='r')
df_las = pd.DataFrame(columns = ["X", "Y", "Z", "Red", "Green", "Blue"])
df_las['X'] = inFile.X
df_las['Y'] = inFile.Y
df_las['Z'] = inFile.Z
df_las['Green'] = inFile.green/256
df_las['Red'] = inFile.red/256
df_las['Blue'] = inFile.blue/256
print("Length of dataset:", df_las.shape[0])

Length of dataset: 8195983

In [72]:
df_e57.head()

            X          Y          Z  Red  Green  Blue
0 -112.928322 -89.967087  -0.042502   38     37    19
1 -123.309288 -74.443047 -16.053707   48     42    29
2 -124.047913 -73.762810 -13.217468   50     43    35
3 -128.557434 -64.230659 -11.323495   42     33    21
4 -128.571716 -64.242706 -11.149029   46     38    21

In [73]:
df_las.head()

           X          Y          Z   Red  Green  Blue
0  106821731  168683853  236966754  38.0   37.0  19.0
1   71612202  223089646  154236901  48.0   42.0  29.0
2   69106980  225473615  168891740  50.0   43.0  35.0
3   53811860  258880137  178677895  42.0   33.0  21.0
4   53763418  258837917  179579361  46.0   38.0  21.0

### 1.3 Normalizing data

In [16]:
x = df[['X']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df['X'] = x_scaled

y = df[['Y']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
y_scaled = min_max_scaler.fit_transform(y)
df['Y'] = y_scaled

z = df[['Z']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
z_scaled = min_max_scaler.fit_transform(z)
df['Z'] = z_scaled

# 2. Plot functions

In [11]:
# 3d plotting
def plot_3d(df):
    fig=plt.figure(figsize=(12, 8), dpi= 80, facecolor='w', edgecolor='k')
    ax = fig.add_subplot(111, projection = '3d')
    ax.scatter(df['X'].values, df['Y'].values, df['Z'].values, c = df[['Red','Green','Blue']].values/255.0, s= 1.0)
    ax.set_xlabel('X')
    ax.set_ylabel('Y')
    ax.set_zlabel('Z')
    plt.show()

#2d pllotting
def plot_2d(df):
    fig=plt.figure(figsize=(12, 8), dpi= 80, facecolor='w', edgecolor='k')
    plt.scatter(df['X'].values, df['Y'].values,c = df[['Red','Green','Blue']].values/255.0, s= 1.0)
    plt.xlabel('X')
    plt.ylabel('Y')
    plt.show()

def plot_pptk(df):
    v = pptk.viewer(df[['X', 'Y', 'Z']])
    v.attributes(df[['Red', 'Green', 'Blue']] / 255.)
    v.set(point_size=0.001)

# 3. Explorations

### 3.1 Sample n data and plot in figure

In [74]:
# plot_3d(df.sample(n=10000, random_state = 42))
# plot_2d(df.sample(n=10000, random_state = 42))
plot_pptk(df_e57)
plot_pptk(df_las)