In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('../eval.csv')
#df.groupby('experiment')['reward'].sum().plot()
df.head()

,action,action_result,distance_to_goal,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,speed,time
0,19,MOVE,384.360508,1,0.96,0.080099,-0.174414,-0.3,0.0484,0.0484,0.0396,4,1
1,-19,FORWARD,380.459466,1,0.96,0.059170,-0.070584,0.2,0.0484,0.0484,0.0308,4,2
2,-19,FORWARD,377.067185,1,0.96,0.099065,-0.176876,0.2,0.0396,0.0484,0.0176,4,3
3,-19,FORWARD,374.571457,1,0.96,0.108808,-0.284213,0.2,0.0176,0.0396,0.0044,4,4
4,19,FORWARD,373.264183,1,0.96,0.042103,-0.392416,0.2,0.0220,0.0440,0.0000,4,5

In [9]:
df.groupby('action_result').count()

,action,distance_to_goal,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,speed,time
action_result,,,,,,,,,,,,
FORWARD,15329,15329,15329,15329,14971,15329,15329,15329,15329,15329,15329,15329
GOAL,105,105,105,105,105,105,105,105,105,105,105,105
HIT_TREE,107,107,107,107,106,107,107,107,107,107,107,107
MOVE,2809,2809,2809,2809,2460,2809,2809,2809,2809,2809,2809,2809
ON_EDGE,14,14,14,14,14,14,14,14,14,14,14,14

In [38]:
df = pd.read_csv('../eval.csv')
df.groupby('action_result').count()

,action,distance_to_goal,experiment,gamma,loss,orientation,reward,signal1,signal2,signal3,speed,time
action_result,,,,,,,,,,,,
FORWARD,13915,13915,13915,13915,9196,13915,13915,13915,13915,13915,13915,13915
GOAL,18,18,18,18,18,18,18,18,18,18,18,18
HIT_TREE,279,279,279,279,253,279,279,279,279,279,279,279
MOVE,7426,7426,7426,7426,2692,7426,7426,7426,7426,7426,7426,7426
ON_EDGE,27,27,27,27,26,27,27,27,27,27,27,27