In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../tmp.csv')

In [5]:
df.head()

,experiment,time,speed,gamma,signal1,signal2,signal3,distance_to_goal,action,orientation,reward
0,NaN,1,2,0.8,0.0,0.0,0.0,985.101645,-16,-0.794196,-0.5
1,NaN,2,2,0.8,0.0,0.0,0.0,986.969383,-16,-0.883475,-0.5
2,NaN,3,2,0.8,0.0,0.0,0.0,988.961989,-16,-0.972594,-0.5
3,NaN,4,2,0.8,0.0,0.0,0.0,990.924804,-7,0.938461,-0.5
4,NaN,5,2,0.8,0.0,0.0,0.0,992.826520,-7,0.899696,-0.5